@import url('https://fonts.googleapis.com/css2?family=Poppins');

/*ADDING CSS UNIVERSAL SELECTOR*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*ADDING ROOT SELECTOR TO HELP STYLE THE CONTENT*/
:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Purple: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
    background-image: url(./images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Red);
    width: 100%;
    height: 100vh;
}

/*MAIN STYLE STARTS*/
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 2rem;
}

main>* {
    width: 100%;
    text-align: center;
    color: #fff;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* FIRST SECTION STYLING STARTS*/

section:nth-child(1) h1 {
    margin-bottom: 1.3rem;
    font-size: 1.7rem;
}

section:nth-child(1) p {
    opacity: 0.8;
}

/* FIRST SECTION STYLING ENDS*/

/*SECOND SECTION STYLING STARTS*/
section:nth-child(2)>div {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #F6FAFE;
    background-color: var(--Purple);
    padding: 1.5rem 2rem;
    margin: 4rem 0 2rem 0;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 6px 10px hsla(257, 60%, 14%, 0.7);
}

section:nth-child(2) div p {
    width: 80%;
}

section:nth-child(2)>*:not(:first-child) {
    height: 67vh;
}

/*FORM STYLING STARTS*/
form>*:not(p) {
    width: 83%;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid hsl(0, 0%, 80%);
    outline: 1px solid var(--Grayish-Blue);
}

form {
    border-radius: 8px;
    box-shadow: 2px 5px 6px hsla(257, 60%, 14%, .7);
    background-color: hsl(0, 0%, 100%);
}

form input:nth-child(1) {
    margin-top: 1.5rem;
}

form input::placeholder {
    color: hsla(249, 10%, 20%, .6);
    font-size: 1rem;
    font-weight: 800;
}

form button {
    color: #F6FAFE;
    background-color: var(--Green);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: none;
    box-shadow: 1px 2px 5px hsla(257, 60%, 14%, .7);
    cursor: pointer;
}

form p {
    color: var(--Grayish-Blue);
    text-align: center;
    font-size: 0.7rem;
    padding: 0.5rem 1.7rem;
}

form a {
    color: var(--Red);
    text-decoration: none;
    font-weight: 800;
}

/*FORM STYLING ENDS*/
/*SECOND SECTION STYLING ENDS*/
/*MAIN STYLE ENDS*/

/*MEDIA QUERIES*/

/*Medium screen tablet*/
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    section {
        width: 45%;
        margin: auto;
    }

    section:nth-child(1) h1 {
        font-size: 2.2rem;
    }
}

/*Large screen laptop*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    section {
        width: 38%;
        margin: auto;
    }

    section:nth-child(1) h1 {
        font-size: 2.5rem;
    }
}

/*X large screen*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    section:nth-child(1) {
        width: 32%;
        margin: auto;
    }

    section:nth-child(1) h1 {
        font-size: 2.8rem;
    }

    section:nth-child(1) p {
        font-size: 0.82rem;
    }

    section:nth-child(2) {
        width: 40%;
        margin: auto;
    }

    form input,
    p {
        font-size: 0.8rem;
    }

}